{% extends 'core/template.html' %}

{% block title %}
  <title>PetCareAnalytics | Nuevo post</title>
{% endblock %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container container-op-perfil pt-3 pb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <form class="op-addpost-form d-flex flex-wrap justify-content-around" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form  }}
        <div class="op-botonera-login d-flex justify-content-between mt-4 flex-wrap">
          <input type="reset" class="btn btn-sm op-btn-volver" value="Limpiar">
          <input type="submit" class="btn btn-sm op-btn-login" value="Publicar">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
