{% extends 'core/template.html' %}

{% block title %}
  <title>PetCareAnalytics | Blog Perros</title>
{% endblock %}

{% block content %}
{% load static %}
{% load humanize %}
<main class="pb-3 pt-3 op-destacados">
  <div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
          <ul class="op-botonera d-flex justify-content-between mx-3 mt-2">
            <li class="op-botonera-boton">
              <a href="{% url 'blog' %}" class="op-botonera-link"><i class="fa-solid fa-list-ul"></i> Todo</a>
            </li>
            <li class="op-botonera-boton">
              <a href="{% url 'blogperro' %}" class="op-botonera-link"><i class="fa-solid fa-dog"></i> Perros</a>
            </li>
            <li class="op-botonera-boton">
              <a href="{% url 'bloggato' %}" class="op-botonera-link"><i class="fa-solid fa-cat"></i> Gatos</a>
            </li>
            <li class="op-botonera-boton">
              <a href="{% url 'blogalimentacion' %}" class="op-botonera-link"><i class="fa-solid fa-bone"></i> Alimentación</a>
            </li>
            <li class="op-botonera-boton">
              <a href="{% url 'blogadopcion' %}" class="op-botonera-link"><i class="fa-solid fa-paw"></i> Adopción</a>
            </li>
            {% if user.is_authenticated %}
              <li class="op-botonera-boton">
                <a href="{% url 'addPost' %}" class="op-botonera-post"><i class="fa-solid fa-plus"></i>  Nuevo</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% for b in blog %}
      <div class="row d-flex justify-content-center">
        <div class="col-8">
          <a class="op-post-link" href="{% url 'detallepost' b.id %}">
            <article class="op-post d-flex justify-content-between mt-2 mb-2">
              <div class="op-post-cont-sm">
                <img class="op-post-img" src="{{ b.imagen.url }}" alt="">
              </div>
              <div class="op-post-cont-xl d-flex flex-wrap justify-content-between">
                <h3 class="op-post-title">{{ b.titulo }}</h3>
                <h5 class="op-blog-likes">{{b.likes}} <i class="fa-solid fa-heart"></i></h5>
                <div class="op-post-barra"></div>
                <p class="op-post-text">
                  {{ b.informacion }}
                </p>
                <div class="op-post-footer d-flex justify-content-between">
                  <div class="op-post-left-footer">
                    <p class="op-post-footer-autor">@{{ b.nombre_usuario }}</p>
                  </div>
                  <div class="op-post-right-footer">
                    <p class="op-post-footer-date">{{ b.timestamp | naturaltime }}</p>
                  </div>
                </div>
              </div>
            </article>
          </a>
        </div>
      </div> 
      {% endfor %}
      <div> {% include 'core/paginator.html' %}  </div>   
    </div>
  </main>
{% endblock %}