{% extends 'core/template.html' %}

{% block title %}
  <title>PetCareAnalytics | Contacto</title>
{% endblock %}

{% block content %}
{% load static %}
<div class="container pt-5 pb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-5">
      <img src="{% static 'core/img/ImagotipoColor.png' %}" alt="PetCare" width="80%">
    </div>
    <div class="col-6 op-col-contacto">
      <h2 class="h4 text-center" >Formulario de contacto e información animal</h2>
      <form name="contactform" action="#" method="post" id="formulario-contacto" class="op-contact-form d-flex flex-wrap justify-content-center">
        {% csrf_token %}
        {{ form }}
        <br>
        <div id="error-message_contact" class="text-danger"></div>
        <div class="op-botonera-login d-flex justify-content-between mt-1 flex-wrap">
          <button class="btn btn-lg limpiar" type="button" id="limpiar">Limpiar</button>
          &nbsp;
          <button class="btn btn-lg enviar" type="submit" id="enviar">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
