{% extends 'core/template.html' %}

{% block title %}
  <title>PetCareAnalytics | Contacto</title>
{% endblock %}

{% block content %}
{% load static %}
<div class="container pt-5 pb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-5">
      <img src="{% static 'core/img/ImagotipoColor.png' %}" alt="PetCare" width="80%">
    </div>
    <div class="col-6 op-col-contacto">
      <h2 class="h4 text-center" >Formulario de contacto e información animal</h2>
      <form action="#" method="post" id="formulario-contacto" class="op-contact-form d-flex flex-wrap justify-content-center">
        <label for="nombre"><i class="fa-solid fa-user"></i></label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre Apellido" required>
        <br>
        <label for="correo"><i class="fa-solid fa-envelope"></i></label>
        <input type="email" id="correo" name="correo" placeholder="ejemplo@mail.com" required>
        <br>
        <label for="asunto"><i class="fa-solid fa-clipboard"></i></label>
        <input type="text" id="asunto" name="asunto" placeholder="Asunto" required>
        <br>
        <label for="consulta"><i class="fa-solid fa-pen-to-square"></i></label>
        <textarea id="consulta" name="consulta" rows="4" placeholder="¿Cómo podemos ayudarte?" required></textarea>
        <br>
        
                <div class="form-group" data-toggle="buttons">
                  <button class="btn btn-lg btn-outline-primary align-selft-start" type="button" id="limpiar">Limpiar</button>
                  <button class="btn btn-lg btn-primary" type="submit" id="enviar">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </form>
      
    </div>
  </div>
</div>
{% endblock %}
