{% extends 'core/template.html' %}
{% load static %}

{% block title %}
  <title>PetCareAnalytics | Dashboard</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-2 op-nosotros-title-ng">Dashboard</h1>
  <main>
    <div class="row justify-content-center">
      <div class="col-2 justify-content-center">
        <img src="{% static 'core/img/imagotipoColor.png' %}" alt="" width="100%">
      </div>
    </div>
    <div class="row justify-content-center mt-1">
      <div class="col-8 justify-content-center">
        <p class="text-center op-nosotros-p-ng">¡Prepárate para una experiencia visualmente estimulante mientras exploras el Dashboard de PetCare Analytics! Con gráficos interactivos y datos informativos, estamos emocionados de acompañarte en este viaje por el mundo de nuestros queridos amigos peludos.</p>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="col-4 px-5 py-3 d-flex justify-content-center flex-wrap">
        <div class="op-circle d-flex justify-content-center align-items-center">
          <div class="op-sm-circle">
            <p class="text-center op-icono-circle"><i class="fa-solid fa-chart-simple"></i></p>
          </div>
        </div>
        <h3 class="h5 text-center op-circle-title mt-2">Bienvenido al Dashboard de PetCare Analytics</h3>
        <p class="op-nosotros-p-ng op-circle-p">¡Explora el fascinante mundo de los animales domésticos a través de nuestro intuitivo y visualmente atractivo Dashboard! Este espacio interactivo te brinda una visión detallada y cautivadora de datos relacionados con tus amigos peludos.</p>
      </div>
      <div class="col-4 px-5 py-3 d-flex justify-content-center flex-wrap">
        <div class="op-circle d-flex justify-content-center align-items-center">
          <div class="op-sm-circle">
            <p class="text-center op-icono-circle"><i class="fa-solid fa-paw fa-pawsa"></i></p>
          </div>
        </div>
        <h3 class="h5 text-center op-circle-title mt-2">Descubre la Vida Animal en Cifras</h3>
        <p class="op-nosotros-p-ng op-circle-p">¿Alguna vez te has preguntado cuántos perros y gatos existen fuera del país? ¿O cuáles son las razas más populares? Nuestros gráficos te proporcionarán respuestas a estas preguntas y más. Desde estadísticas globales hasta detalles específicos sobre razas, encontrarás información fascinante para cada amante de los animales.</p>
      </div>
      <div class="col-4 px-5 py-3 d-flex justify-content-center flex-wrap">
        <div class="op-circle d-flex justify-content-center align-items-center">
          <div class="op-sm-circle">
            <p class="text-center op-icono-circle"><i class="fa-solid fa-bullhorn"></i></p>
          </div>
        </div>
        <h3 class="h5 text-center op-circle-title mt-2">Participa y Comparte</h3>
        <p class="op-nosotros-p-ng op-circle-p">¿Tienes datos interesantes sobre tu propia mascota o quieres compartir tus experiencias? Invitamos a los usuarios a participar, compartir anécdotas y contribuir a la creciente base de conocimientos sobre animales domésticos en BLOG (PONERAQUIENLACEBLOG).</p>
      </div>
    </div>
    
    <p class="op-nosotros-span-ng text-center">¡Comienza tu exploración ahora y descubre el asombroso universo de PetCare Analytics!</h5>
    </main>
    <div class="row dashboard-seccion pb-4 mb-4">
      <div class="col-12 op-dashboard-botones">
        <ul class="d-flex justify-content-center">
          <li><button id="boton-dashboard-1" class="btn btn-md">Chile</button></li>
          <li><button id="boton-dashboard-2" class="btn btn-md">PetCareAnalytics</button></li>
          <li><button id="boton-dashboard-3" class="btn btn-md">Mundo</button></li>
        </ul>
      </div>
      <div class="col-12 op-dashboard-graficos" id="dashboard-1">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-6 op-grafico p-3">
              {{ plot_div4|safe }}
          </div>
          <div class="col-6 p-3">
            <p class="op-grafico-texto">En febrero de 2022 la subsecretaría de desarrollo regional administrativo 
              (SUBDERE) publica el boletín técnico "Estimación de la población canina y 
              felina del país y diagnostico de la tenencia responsable". En donde se aplicó 
              una encuesta de tenencia responsable a nivel de vivienda en 35 comunas del país 
              obteniendo un total de 6275 de respuestas. De cuales 4754(75.9%) tenía al menos
               una mascota. Como resultado habían 4062 que poseen perro, 1956 que poseen gatos, 
               1300 con ambas y solo 176 con otro tipo de especie.</p>
               <hr>
            <div class="row">
              <div class="col-3">
                <div class="op-grafico-cuadrado op-grafico-cuadrado-celeste d-flex justify-content-center align-items-center flex-wrap p-2">
                  <i class="fa-solid fa-shield-dog"></i>
                  <p class="op-grafico-numero">4062</p>
                </div>
              </div>
              <div class="col-3">
                <div class="op-grafico-cuadrado op-grafico-cuadrado-amarillo d-flex justify-content-center align-items-center flex-wrap p-2">
                  <i class="fa-solid fa-shield-cat"></i>
                  <p class="op-grafico-numero">1956</p>
                </div>
              </div>
              <div class="col-3">
                <div class="op-grafico-cuadrado op-grafico-cuadrado-naranjo d-flex justify-content-center align-items-center flex-wrap p-2">
                  <i class="fa-solid fa-shield-dog"></i>
                  <i class="fa-solid fa-shield-cat"></i>
                  <p class="op-grafico-numero">1300</p>
                </div>
              </div>
              <div class="col-3">
                <div class="op-grafico-cuadrado op-grafico-cuadrado-rojo d-flex justify-content-center align-items-center flex-wrap p-2">
                  <i class="fa-solid fa-shield"></i>
                  <p class="op-grafico-numero">176</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-4 p-3">
            <p class="op-grafico-texto">Cifras recopiladas del registro nacional de mascotas 
              en donde se muestra un TOP 10 de razas de perros en territorio nacional.
               Dando como resultado, la raza de perro mas popular correspondiente a 
               Mestizo con 736.648 caninos registrados.</p>
               <hr>
            <h2 class="op-grafico-titulo text-center">Mestizo</h2>
            <div class="row d-flex justify-content-center">
              <div class="col-6 d-flex justify-content-center">
                <div class="op-grafico-rectangulo op-grafico-cuadrado-azul d-flex justify-content-center align-items-center flex-wrap p-2">
                  <i class="fa-solid fa-shield-dog"></i>
                  <p class="op-grafico-numero">736.648</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8 op-grafico p-3">
              {{ plot_div2|safe }}
          </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-8 op-grafico p-3">
              {{ plot_div7|safe }}
          </div>
          <div class="col-4 p-3">
            <p class="op-grafico-texto">Cifras recopiladas del registro nacional de
              mascotas en donde se muestra un TOP 10 de razas de gatos en territorio nacional.
               Dando como resultado, la raza de gato mas popular correspondiente a 
               Domestico pelo corto con 297.316 felinos registrados.</p>
            <hr>
            <h2 class="op-grafico-titulo text-center">
              Doméstico P. Corto
            </h2>
            <div class="row d-flex justify-content-center">
              <div class="col-6 d-flex justify-content-center">
                <div class="op-grafico-rectangulo op-grafico-cuadrado-azul d-flex justify-content-center align-items-center flex-wrap p-2">
                  <i class="fa-solid fa-shield-cat"></i>
                  <p class="op-grafico-numero">297.316</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-6 op-grafico p-3">
            {{ plot_div5|safe }}
          </div>
          <div class="col-6 op-grafico p-3 border-left-op">
            {{ plot_div6|safe }}
          </div>
          <div class="col-9 p-3">
            <p class="op-grafico-texto text-center">Cifras recopiladas del registro nacional de mascotas 
               con un TOP 10 de los nombre mas populares entre los <span class="destacado t-celeste">caninos</span> y <span class="destacado t-amarillo">felinos</span>.</p>
            <div class="row d-flex justify-content-center">
              <div class="col-6 d-flex justify-content-center align-items-center">
                <h2 class="op-grafico-titulo text-center mx-auto">
                  Luna
                </h2>
                <div class="op-grafico-rectangulo op-grafico-cuadrado-celeste d-flex justify-content-center align-items-center flex-wrap p-2">
                  <span class="t-celeste">--</span><i class="fa-solid fa-dog"></i><span class="t-celeste">--</span>
                  <p class="op-grafico-numero">30.079</p>
                </div>
              </div>
              <div class="col-6 d-flex justify-content-center align-items-center border-left-op"> 
                <div class="op-grafico-rectangulo op-grafico-cuadrado-amarillo d-flex justify-content-center align-items-center flex-wrap p-2">
                  <span class="t-amarillo">-----</span><i class="fa-solid fa-cat"></i><span class="t-amarillo">-----</span>
                  <br>
                  <p class="op-grafico-numero">8.690</p>
                </div>
                <h2 class="op-grafico-titulo text-center mx-auto">
                  Luna
                </h2>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 p-3">
            <h2 class="op-grafico-titulo text-center mx-auto">
              Mascotas en Chile
            </h2>
            <p class="op-grafico-texto text-center">Cifras recopiladas del registro nacional de mascotas el cual muestra la cantidad de gatos y perros registrados por región del 
              país dando como resultado un total de 1.852.092 mascotas registradas.</p>
          </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 op-grafico p-3">
            {{ plot_div3|safe }}
          </div>
        </div>
      </div>
      <div class="col-12 op-dashboard-graficos" style="display: none;" id="dashboard-2">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-8">
            {{ plot_div|safe }}
          </div>
          <div class="col-4 p-3">
            <p class="op-grafico-texto">Cifras recopiladas de nuestra base de datos en 
              donde nos muestra la cantidad total de mascotas registradas según su sexo</p>
              <hr>
              <div class="row d-flex justify-content-center">
                <div class="col-4 justify-content-center">
                  <div class="op-grafico-cuadrado op-grafico-cuadrado-amarillo d-flex justify-content-center align-items-center flex-wrap p-2">
                    <i class="fa-solid fa-mars"></i>
                    <p class="op-grafico-numero">{{ macho }}</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="op-grafico-cuadrado op-grafico-cuadrado-celeste d-flex justify-content-center align-items-center flex-wrap p-2">
                    <i class="fa-solid fa-venus"></i>
                    <p class="op-grafico-numero">{{ hembra }}</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-4 p-3 d-flex justify-content-center">
            <p class="text-center op-grafico-texto">Cifras recopiladas de nuestra base de datos en nos muestra la cantidad
               total de perros registrados según su raza</p>
          </div>
          <div class="col-8 d-flex justify-content-center">
            {{ plot_div9|safe }}
          </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-8">
            {{ plot_div10|safe }}
          </div>
          <div class="col-4 p-3 d-flex justify-content-center">
            <p class="text-center op-grafico-texto">Cifras recopiladas de nuestra base de datos en nos muestra la cantidad
               total de gatos registrados según su raza</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-12 op-dashboard-graficos" style="display: none;" id="dashboard-3">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-10 p-3 d-flex justify-content-center">
            <p class="text-center op-grafico-texto">En el año 2023 la FEDIAF(Organización que representa la industria de alimentos para mascotas en Europa) libera un documento con la investigación sobre la tenencia de mascotas que se realizo durante el año 2022, en donde se encuestaron aproximadamente 197 millones de hogares, de las cuales 91 millones poseen al menos una mascota. Liderando hogares que poseen gatos con cerca de 127 
              millones, en segundo lugar hogares que poseen perros con 
              alrededor de 104 millones. </p>
          </div>
          <div class="col-8 d-flex justify-content-center">
            {{ plot_div8|safe }}
          </div>
        </div>
      </div>
    </div>

</div>
<script src="{% static 'core/js/dashboards.js' %}"></script>
{% endblock %}

{% block scripts %}

  <!-- Incluir las bibliotecas de Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}