{% extends 'core/template.html' %}

{% block title %}
  <title>PetCareAnalytics | Dashboard</title>
{% endblock %}

{% block content %}
<h2 class="text-center h1">Dashboard</h2>

<h3>Bienvenido al Dashboard de Animales Domésticos</h3>
<h5>¡Explora el fascinante mundo de los animales domésticos a través de nuestro intuitivo y visualmente atractivo Dashboard! Este espacio interactivo te brinda una visión detallada y cautivadora de datos relacionados con tus amigos peludos.</h5>

<h3>Descubre la Vida Animal en Cifras</h3>
<h5>¿Alguna vez te has preguntado cuántos perros y gatos hay en el mundo? ¿O cuáles son las razas más populares? Nuestros gráficos te proporcionarán respuestas a estas preguntas y más. Desde estadísticas globales hasta detalles específicos sobre razas, encontrarás información fascinante para cada amante de los animales.</h5>
  
<h3>Tendencias y Patrones de Comportamiento</h3>
<h5>Observa patrones de comportamiento de animales domésticos a través del tiempo. ¿Cuándo es la época del año en la que más se adoptan mascotas? ¿Cuáles son las preferencias alimenticias más comunes? Con nuestras visualizaciones dinámicas, podrás descubrir tendencias y patrones que te ayudarán a comprender mejor a tus compañeros de cuatro patas.</h5>

<h3>Datos Curiosos e Históricos</h3>
<h5>Sumérgete en datos curiosos e históricos que te harán apreciar aún más la compañía de tus mascotas. Desde anécdotas históricas sobre la domesticación de animales hasta curiosidades sobre comportamientos únicos, este Dashboard es una fuente informativa para todos los amantes de los animales.</h5>

<h3>Participa y Comparte</h3>
<h5>¿Tienes datos interesantes sobre tu propia mascota o quieres compartir tus experiencias? Invitamos a los usuarios a participar, compartir anécdotas y contribuir a la creciente base de conocimientos sobre animales domésticos.</h5>
<h5>¡Prepárate para una experiencia visualmente estimulante mientras exploras el Dashboard de Animales Domésticos! Con gráficos interactivos, datos informativos y un enfoque centrado en la comunidad, estamos emocionados de acompañarte en este viaje por el mundo de nuestros queridos amigos peludos.</h5>
<h5>¡Comienza tu exploración ahora y descubre el asombroso universo de los animales domésticos!</h5>

<div style="display: inline-block; width: 48%;">
  <h2>Gráfico 1</h2>
    {{ plot_div4|safe }}
</div>
<div style="display: inline-block; width: 48%;">
    <h2>Gráfico 2</h2>
    {{ plot_div2|safe }}
</div>
<div style="display: inline-block; width: 48%;">
  <h2>Gráfico 3</h2>
  {{ plot_div3|safe }}
</div>
<div style="display: inline-block; width: 48%;">
  <h2>Viviendas con mascotas</h2>
  {{ plot_div|safe }}
</div>

<div style="display: inline-block; width: 48%;">
  <h2> </h2>
  {{ plot_div5|safe }}
</div>

<div style="display: inline-block; width: 48%;">
  <h2> </h2>
  {{ plot_div6|safe }}
</div>

<div style="display: inline-block; width: 48%;">
  <h2> </h2>
  {{ plot_div7|safe }}
</div>

<div style="display: inline-block; width: 48%;">
  <h2>Viviendas con mascotas</h2>
  {{ graph_html|safe }}
</div>
{% endblock %}

{% block scripts %}

  <!-- Incluir las bibliotecas de Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}