{% extends 'core/template.html' %}

{% block title %}
  <title>PetCareAnalytics | Inicio</title>
{% endblock %}

{% block content %}
{% load humanize %}
{% load static %}
        <section class="op-cta d-flex">
          <div class="container d-flex align-self-center">
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-md-6 op-cta-text d-flex flex-wrap mb-2">
                  <h1 class="op-cta-title">Cuida a tus mascotas</h1>
                  <div class="op-barra-divisora-sm mt-1 mb-2"></div>
                  <p class="op-cta-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore 
                    magna aliqua.
                  </p>
                  <p class="op-cta-p">
                  </p>
                  <a class="op-cta-button" href="#">Haz tu plan</a>
              </div>
              <div class="col-12 col-md-6 op-cta-text d-flex flex-wrap justify-content-center">
                <img class="op-cta-img align-self-center" src="{% static 'core/img/1.jpeg' %}" alt="Gatito y perrito bonito" width="100%"> 
                
              </div>
            </div>
          </div>
          
        </section>
        <aside class="op-nosotros pb-3" id="nosotros">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-10 col-md-8">
                <h2 class="op-nosotros-title text-center mt-3 mb-3">Nosotros</h2>
                <div class="op-barra-divisora-xg mb-4"></div>
                <p class="op-nosotros-p">
                  Nos destacamos como un equipo de dedicados informáticos con una pasión compartida: 
                  mejorar la calidad de vida de nuestras mascotas, centrándonos especialmente en perros 
                  y gatos. Nuestra visión se enmarca en el desarrollo de herramientas tecnológicas 
                  innovadoras que simplifiquen el acceso a información valiosa relacionada con el cuidado
                  animal.
                  <br>
                  <br>
                  Colaboramos estrechamente con clínicas veterinarias, expertos en el campo de la salud 
                  animal y amantes de los animales para lograr nuestro objetivo de fortalecer los vínculos
                   entre humanos y mascotas. Creemos firmemente que, al empoderar a los dueños de mascotas
                    con información precisa y actualizada, podemos contribuir a una vida más saludable y 
                    feliz para todos nuestros compañeros peludos.
                  <br>
                  <br>
                  En nuestro equipo, compartimos una profunda conexión con el mundo animal y un compromiso
                   inquebrantable con la innovación tecnológica. Trabajamos incansablemente para crear 
                   soluciones que marquen la diferencia en la vida de las mascotas y sus dueños. Nuestro 
                   enfoque se basa en la creación de un entorno en el que las mascotas reciban el cuidado 
                   que merecen y sus dueños se sientan mejor informados y preparados para cuidar de sus 
                   fieles amigos.
                  <br>
                  <br>
                  Te invitamos a unirte a nosotros en esta emocionante misión de promover el bienestar 
                  animal a través de la tecnología. Somos el equipo detrás de la innovación que pone 
                  en primer plano la salud y la felicidad de las mascotas. Juntos, trabajamos para crear 
                  un mundo donde las mascotas y sus dueños disfruten de una vida plena y satisfactoria. 
                  <br>
                  <br>
                  </p>
                  <p class="op-nosotros-span text-center">¡Bienvenid@ a nuestro compromiso con los animales!</p>
                  <img class="mx-auto d-block mt-5" src="{% static 'core/img/LogoTransparenteNeg.png' %}" alt="PetCare Analytics" width="200px">
                </div>
            </div>
          </div>
        </aside>
        <main class="pb-3 op-destacados">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-sm-12 col-md-8">
                <h2 class="op-blog-title text-center mt-3 mb-3">Última publicación</h2>
                <div class="op-barra-divisora-xg mb-4"></div>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-8">
                <a class="op-post-link" href="{% url 'detallepost' post.id %}">
                  <article class="op-post d-flex justify-content-between mt-2 mb-2">
                    <div class="op-post-cont-sm">
                      <img class="op-post-img" src="{{ post.imagen.url }}" alt="">
                    </div>
                    <div class="op-post-cont-xl d-flex flex-wrap justify-content-between">
                      <h3 class="op-post-title">{{ post.titulo }}</h3>
                      <h5 class="op-blog-likes">{{post.likes}} <i class="fa-solid fa-heart"></i></h5>
                      <div class="op-post-barra"></div>
                      <p class="op-post-text">
                        {{ post.informacion }}
                      </p>
                      <div class="op-post-footer d-flex justify-content-between">
                        <div class="op-post-left-footer">
                          <p class="op-post-footer-autor">@{{ post.nombre_usuario }}</p>
                        </div>
                        <div class="op-post-right-footer">
                          <p class="op-post-footer-date">{{ post.timestamp | naturaltime }}</p>
                        </div>
                      </div>
                    </div>
                  </article>
                </a>
              </div>
            </div>
          </main>
        

{% endblock %}