{% extends 'core/template.html' %}

{% block content %}
{% load static %}
        <aside class="op-nosotros-ng pb-3" id="nosotros">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-8">
                <div>
                  <img class="op-img-nosotros" src="{% static 'core/img/ImagotipoColor.png' %}" alt="PetCare">
                </div>
                <h2 class="op-nosotros-title-ng text-center mt-3 mb-3">Nosotros</h2>
                <div class="op-barra-divisora-xg mb-4"></div>
                <p class="op-nosotros-p-ng">
                  Nos destacamos como un equipo de dedicados informáticos con una pasión compartida: 
                  mejorar la calidad de vida de nuestras mascotas, centrándonos especialmente en perros 
                  y gatos. Nuestra visión se enmarca en el desarrollo de herramientas tecnológicas 
                  innovadoras que simplifiquen el acceso a información valiosa relacionada con el cuidado
                  animal.
                  <br>
                  <br>
                  Colaboramos estrechamente con clínicas veterinarias, expertos en el campo de la salud 
                  animal y amantes de los animales para lograr nuestro objetivo de fortalecer los vínculos
                   entre humanos y mascotas. Creemos firmemente que, al empoderar a los dueños de mascotas
                    con información precisa y actualizada, podemos contribuir a una vida más saludable y 
                    feliz para todos nuestros compañeros peludos.
                  <br>
                  <br>
                  En nuestro equipo, compartimos una profunda conexión con el mundo animal y un compromiso
                   inquebrantable con la innovación tecnológica. Trabajamos incansablemente para crear 
                   soluciones que marquen la diferencia en la vida de las mascotas y sus dueños. Nuestro 
                   enfoque se basa en la creación de un entorno en el que las mascotas reciban el cuidado 
                   que merecen y sus dueños se sientan mejor informados y preparados para cuidar de sus 
                   fieles amigos.
                  <br>
                  <br>
                  Te invitamos a unirte a nosotros en esta emocionante misión de promover el bienestar 
                  animal a través de la tecnología. Somos el equipo detrás de la innovación que pone 
                  en primer plano la salud y la felicidad de las mascotas. Juntos, trabajamos para crear 
                  un mundo donde las mascotas y sus dueños disfruten de una vida plena y satisfactoria. 
                  <br>
                  <br>
                  </p>
                  <p class="op-nosotros-span-ng text-center">¡Bienvenid@ a nuestro compromiso con los animales!</p>
                  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3VRVbcHCZ0VpBN65GzDanR?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                  <img class="mx-auto d-block mt-5" src="{% static 'core/img/LogotipoTransparente.png' %}" alt="PetCare Analytics" width="200px">
                </div>
                
            </div>
          </div>
        </aside>
{% endblock %}
