{% extends 'core/template.html' %}

{% block title %}
  <title>PetCareAnalytics | Mi perfil</title>
{% endblock %}

{% block content %}
{% load static %}
<div class="container container-op-perfil pt-3 pb-5">
  <div class="row d-flex justify-content-center">
    {% if validacion == True %}
      <div class="col-12 d-flex justify-content-end">
        <a href="{% url 'editarPerfil' persona.dinamico %}" class="btn btn-lg btn-op-perfil">Editar</a>
      </div>
    {% endif %}
    <div class="col-4 d-flex flex-wrap justify-content-center pt-3">
        <img class="img-op-perfil" src='{{persona.imagen.url}}'' alt="Foto usuario" width="200px">
        <h2 class="text-center nombre-op-perfil">@{{ persona.nombre_usuario }}</h2>
    </div>
    <div class="col-4">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Nombres</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ persona.primer_nombre }}  {{ persona.segundo_nombre }}</th>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Rut</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ persona.rut }} - {{ persona.digito_ver }}</th>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ user.email }}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Apellidos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ persona.apellido_pat }}  {{ persona.apellido_mate }}</th>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Edad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ persona.edad }} años</th>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Teléfono</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ persona.telefono }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <div class="row d-flex justify-content-center">
    <div class="col-10 d-flex justify-content-center flex-wrap">
      <h2 class="op-nosotros-title-ng">Mis Mascotas</h2>
    </div>
    {% if validacion == True %}
      {% if mascota.length == 0 %}
      <div class="col-10 d-flex justify-content-center flex-wrap">
        <h4>Aún no has agregado a tus mascotas, comencemos...</h4>
      {% else %}
        {% for m in mascota %}
        <div class="card mascota-card d-flex justify-content-center">
          <div class="card-body d-flex justify-content-center flex-wrap">
            <img class="img-card-mascota" src="{{ m.imagen.url }}" alt="Perro">
            <h5 class="card-title card-title-mascota text-center">{{ m.nombre_masc }}</h5>
          </div> 
            <ul class="list-group list-group">
              <div class="d-flex justify-content-between">
                {% if m.raza.animal.nombre_animal == "Perro" %}
                <li class="icono-mascota-card"><i class="fa-solid fa-dog fa-card-icono"></i></li>
             {% elif m.raza.animal.nombre_animal == "Gato" %}
                <li class="icono-mascota-card"><i class="fa-solid fa-cat fa-card-icono"></i></li>
             {% endif %}
             
              {% if m.sexo == "H" %}
                <li class="icono-mascota-card"><i class="fa-solid fa-venus"></i></li>
              {% elif m.sexo == "M" %}
                <li class="icono-mascota-card"><i class="fa-solid fa-mars"></i></li>
              {% endif %}          
              </div>
            </ul>
          <div class="card-body d-flex justify-content-between">
            <a href="{% url 'editarMascota' m.id %}" class="card-link mascota-edit btn btn-sm"><i class="fa-solid fa-pencil"></i></a>
            <a href="{% url 'eliminarMascota' m.id %}" class="card-link mascota-delete btn btn-sm"><i class="fa-solid fa-trash-can"></i></a>
          </div>
        </div>
        <br>
        <br>
        
        {% if m.sexo == "H"  %}
        <!-- m.raza.animal.nombre_animal == "Perro"-->
        <main class="pb-3 pt-3 op-destacados">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-12">
                <h2 class="text-center op-nosotros-title-ng h1">Esto es para ti</h2>
                <div class="row d-flex flex-wrap">
                  <div id="blogContainer" class="col-12 flex-wrap op-noticias"></div>
                </div>         
              </div>
            </div>  
          </div>
        </main>
        <br>
      {% elif m.sexo == "M"  %}
        <!-- Código específico para hembras -->
        <main class="pb-3 pt-3 op-destacados-hembra">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-12">
                <h2 class="text-center h1">Esto es para ti</h2>
                <div class="row d-flex flex-wrap">
                  <div id="blogContainerHembra" class="col-12 flex-wrap op-noticias-hembra"></div>
                </div>         
              </div>
            </div>  
          </div>
        </main>
        <br>
      {% endif %}
      {% if m.raza.animal.nombre_animal == "Perro" %}
      <h1>Buscar libros</h1>
      <label for="busqueda">Ingrese el título del libro:</label>
      <input type="hidden" id="busqueda" value="Perro">
      <button id="btnBusqueda" onclick="realizarBusqueda()">Realizar Búsqueda</button>
      

      <h2>Resultados de la búsqueda de libros</h2>
      <div id="resultados"></div>

      {% elif m.raza.animal.nombre_animal == "Gato" %}
      <h1>Buscar libros</h1>
      <label for="busqueda">Ingrese el título del libro:</label>
      <input type="hidden" id="busqueda" value="Gato">
      <button id="btnBusqueda" onclick="realizarBusqueda()">Realizar Búsqueda</button>
      

      <h2>Resultados de la búsqueda de libros</h2>
      <div id="resultados"></div>
      {% endif %}  


        {% endfor %} 
      {% endif %}
          <div class="col-12 d-flex justify-content-center">
            <a href="{% url 'addMascota' %}" class="btn btn-lg btn-op-perfil mt-3">Añadir máscota</a>
          </div> 
      </div>
    {% endif %}
  </div>
</div>
<br>
<br>




  
{% endblock %}
