{% extends 'core/template.html' %}

{% block title %}
  <title>PetCareAnalytics | Mi perfil</title>
{% endblock %}

{% block content %}
{% load static %}
<div class="container container-op-perfil pt-3 pb-5">
  <div class="row d-flex justify-content-center">
    {% if validacion == True %}
      <div class="col-12 d-flex justify-content-end">
        <a href="{% url 'editarPerfil' persona.dinamico %}" class="btn btn-lg btn-op-perfil">Editar</a>
      </div>
    {% endif %}
    <div class="col-4 d-flex flex-wrap justify-content-center pt-3">
        <img class="img-op-perfil" src='{{persona.imagen.url}}'' alt="Foto usuario" width="200px">
        <h2 class="text-center nombre-op-perfil">@{{ persona.nombre_usuario }}</h2>
    </div>
    <div class="col-4">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Nombres</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ persona.primer_nombre }}  {{ persona.segundo_nombre }}</th>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Rut</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ persona.rut }} - {{ persona.digito_ver }}</th>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ user.email }}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Apellidos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ persona.apellido_pat }}  {{ persona.apellido_mate }}</th>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Edad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ persona.edad }} años</th>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Teléfono</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ persona.telefono }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
