{% extends 'core/template.html' %}

{% block title %}
  <title>PetCareAnalytics | Mensaje</title>
{% endblock %}

{% block content %}
{% load static %}
<div class="container container-op-perfil pt-3 pb-5">
  <div class="row d-flex justify-content-center">
    <div class="row d-flex justify-content-start">
      <div class="col-1">
        <button class="btn btn-md flecha-atras" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i></button>
      </div>
    </div>
    <div class="col-8">
      <h2 class="text-center mensaje-text">Ver mensaje #{{ mensaje.id }}</h2>
      <div class="row">
        <div class="col-12">
          <h4 class="mensaje-text">Nombre: {{ mensaje.nombre_contacto }}</h4>
          <h6 class="mensaje-text">Asunto: {{ mensaje.asunto }}</h6>
          <hr>
          <h6 class="mensaje-text">Mensaje:</h6>  
          <p class="mensaje-text">{{ mensaje.mensaje }}</p>
          <hr>
          <a href="#" class="mensaje-text">{{ mensaje.email }}</a> 
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
