* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #072448;
    --celeste: #54d2d2;
    --amarillo: #ffcb00;
    --naranjo: #f8aa4b;
    --rojo: #ff6150;
    --gris: #e2e2e2;
    --opensans: 'Open Sans', sans-serif;
    --quicksans: 'Quicksand', sans-serif;
}

header {
    max-height: 15vh;
    height: auto;
}

nav {
    background: var(--azul);
}

.nav-link{
    color: white;
    font-family: var(--quicksans);
    font-weight: bolder;
    font-size: 16px;
    margin: 0 10px;
}

.nav-link:hover {
    color: var(--celeste);
}

.active {
    color: var(--celeste) !important;
}

.op-button {
    color: var(--azul);
    background: var(--celeste);
    height: 42px;
    width: 140px;
    border-radius: 5px;
    text-align: center;
}

.op-button-short{
    color: var(--azul);
    background: var(--celeste);
    height: 42px;
    width: 40px;
    border-radius: 5px;
    text-align: center;
}

.op-button:hover{
    outline: #e2e2e2 2px solid;
    color: #072448;
}

.op-searchbar {
    background: white;
    border-radius: 50px;
    width: 40%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.op-searchbar-input {
    height: 34px;
    border-radius: 0px;
    font-family: var(--quicksans);
    border: none;
    border-bottom: 2px solid var(--azul);
    box-shadow: inset 0 -1px 0 #ddd;
    margin-top: 2px;
    width: 90%;
    background: white;
    font-size: 16px;
    color: var(--azul);
}

.op-searchbar-input:focus {
    height: 34px;
    font-family: var(--quicksans);
    border: none;
    border-bottom: 2px solid var(--azul);
    box-shadow: inset 0 -1px 0 #ddd;
    margin-top: 2px;
    margin-left: 10px;
    background: white;
    color: var(--azul);
}

.op-searchbar-button {
    height: 34px;
    width: 10%;
    color: var(--azul);
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid var(--azul);
    background: white;
    font-size: 16px;
    margin-top: 2px;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.op-cta {
    height: 85vh;
    background: white;
}

.op-cta .row {
    width: 100%;
}

.op-cta-title{
    color: var(--azul);
    font-size: 50px;
    font-family: var(--quicksans);
    font-weight: bolder;
}

.op-barra-divisora-sm {
    background: var(--amarillo);
    height: 10px;
    border-radius: 50px;
    width: 60%;
}

.op-cta-p{
    display: inline-block;
    width: 80%;
    font-size: 16px;
    font-family: var(--opensans);
    font-weight: lighter;

}

.op-cta-button {
    color: var(--azul);
    background: var(--celeste);
    height: 42px;
    width: 140px;
    border-radius: 5px;
    text-align: center;
    line-height: 42px;
    font-family: var(--quicksans);
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
}

.op-cta-img {
    border-radius: 20px;
}

.op-nosotros {
    background: var(--azul);
    height: auto;
}

.op-nosotros-title {
    color: white;
    font-size: 50px;
    font-family: var(--quicksans);
    font-weight: bolder;
}

.op-barra-divisora-xg {
    background: var(--amarillo);
    height: 10px;
    border-radius: 50px;
    width: 100%;
}

.op-nosotros-p{
    color: white;
    font-family: var(--opensans);
    font-weight: lighter;
    text-align: justify;
    font-size: 16px;
}

.op-nosotros-span {
    font-size: 18px;
    font-weight: 900;
    color: white;
    font-family: var(--opensans);
}

.op-nosotros-ng {
    background: white;
    height: auto;
}

.op-nosotros-title-ng {
    color: var(--azul);
    font-size: 50px;
    font-family: var(--quicksans);
    font-weight: bolder;
}

.op-nosotros-p-ng{
    color: var(--azul);
    font-family: var(--opensans);
    font-weight: lighter;
    text-align: justify;
    font-size: 16px;
}

.op-nosotros-span-ng {
    font-size: 18px;
    font-weight: 900;
    color: var(--azul);
    font-family: var(--opensans);
}

.op-destacados {
    background: #e2e2e2;
    height: auto;
}

.op-blog-title {
    color: var(--azul);
    font-size: 50px;
    font-family: var(--quicksans);
    font-weight: bolder;
}

.op-post{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.op-post-cont-sm {
    width: 300px;
    display: inline-block;
}

.op-post-cont-xl {
    width: 70%;
    display: inline-block;
}

.op-post-link {
    text-decoration: none;
    width: 100%;
}

.op-post-img {
    width: 250px;
    height: 250px; border-radius: 20px;
    display: block;
    object-fit: cover;
    object-position: 50% 25%; 
}
.op-post-title {
    color: var(--azul);
    font-size: 20px;
    font-family: var(--quicksans);
    font-weight: bolder;
    height: 20px;
}

.op-post-barra {
    width: 100%;
    height: 2px;
    background: var(--naranjo);
}

.op-post-text {
    margin-top: 10px;
    height: 170px;
    width: 100%;
    float: left;
    font-family: var(--opensans);
    font-size: 16px;
    color: var(--azul);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.op-post-footer-date{
    color: #072448;
    font-size: 14px;
}

.op-post-footer{
    width: 100%;
    height: 20px;
    text-decoration: none;
    color: var(--azul);
    font-family: var(--opensans);
}


footer {
    background: var(--azul);
    height: 45vh;
}

.op-footer-ul{
    list-style:none;
}

.post-perfil {
    height: auto;
    max-height: 300px;
    background: white;
    margin-right: 20px;
    padding: 10px;
    border-radius: 20px;
    position: sticky;
    top: 0; 
}

.post-info {
    height: auto;
    background: white;
    padding: 10px;
    border-radius: 20px;
}

.op-post-img-detalle {
    width: 250px;
    height: 250px; 
    border-radius: 20px;
    display: block;
    object-fit: cover;
    object-position: 50% 25%;
    margin-bottom: 10px;
}



.post-perfil-link{
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.post-perfil-link a {
    font-family: var(--quicksans);
}

.op-footer-a{
    color: white;
    display: inline-block;
    font-family: var(--quicksans);
    font-size: 16px;
    text-decoration: none;
}

.op-footer-bar {
    background: white;
    width: 100%;
    height: 1px;
}


.op-footer-link-ul{
    list-style: none;
}

.op-footer-link-a{
    border-radius: 15px;
    text-align: center;
    height: 30px;
    width: 30px;
    background: white;
    color: var(--azul);
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}

.op-img-nosotros {
    display: inline-block;
    width: 60%;
    margin: 5% 20%;
}

.op-botonera {

    list-style: none;
    height: auto;
}

.op-botonera-link {
    text-decoration: none;
    font-family: var(--quicksans);
    font-size: 16px;
    color: var(--azul);
    width: 15%;
    background: var(--celeste);
    padding: 15px;
    border-radius: 5px;
}

.op-botonera-post {
    text-decoration: none;
    font-family: var(--quicksans);
    font-size: 16px;
    color: var(--azul);
    width: 15%;
    background: var(--naranjo);
    padding: 15px;
    border-radius: 5px;
}

.op-col-contacto {
    padding: 0;
    margin: 0;
}

.op-contact-form {
    width: 100%;
    padding: 0;
    margin: 0;
}

.op-contact-form label {
    width: 100%;
    text-align: start;
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
    color: var(--azul);
    font-size: 16px;
}


.op-contact-form input{
    height: 40px;
    width: 100%;
    padding-left: 5px;
    font-family:var(--quicksans);
    border: 2px solid var(--azul);
    border-radius: 8px;
    margin-bottom: 5px;
}

.op-contact-form input:focus{
    font-family:var(--quicksans);
    border: 2px solid var(--azul);
    border-radius: 8px;
    outline: 1px solid var(--azul);
}

.op-contact-form textarea {
    height: 200px;
    width: 100%;
    padding-left: 5px;
    font-family:var(--quicksans);
    border: 2px solid var(--azul);
    border-radius: 8px;
    margin-bottom: 10px;
    resize: none;
}

.op-editarperfil-form {
    width: 100%;
    padding: 0;
    margin: 0;
}

.op-editarperfil-form label,
.form-label {
    width: 100%;
    text-align: start;
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
    color: var(--azul);
    font-size: 16px;
    margin-top: 0px;
}

#div_id_imagen{
    width: 85% !important;
    align-self: center; 
    margin: auto;
}

#div_id_imagen .input-group-text{
    font-family: var(--quicksans);
    border: 2px solid var(--azul);
    border-radius: 0px, 8px, 8px, 0px;
}
#div_id_imagen .h-auto {
    font-family: var(--quicksans);
    border: 2px solid var(--azul);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    border-radius: 8px, 0px, 0px, 8px;
}

.op-editarperfil-form input{
    height: 40px;
    width: 100%;
    padding-left: 5px;
    font-family:var(--quicksans);
    border: 2px solid var(--azul);
    border-radius: 8px;
    margin-bottom: -2px
}
.op-editarperfil-form input[type="reset"],
.op-editarperfil-form input[type="submit"] {
    width: 40% !important;
}

.editar-perfil-titulo {
    font-family: var(--quicksans);
}


.op-editarperfil-form input:focus{
    font-family:var(--quicksans);
    border: 2px solid var(--azul);
    border-radius: 8px;
    outline: 1px solid var(--azul);
}

.op-addpost-form {
    width: 100%;
    padding: 0;
    margin: 0;
}

.op-addpost-form label {
    width: 100%;
    text-align: start;
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
    color: var(--azul);
    font-size: 16px;
}

.op-addpost-form input,
select{
    height: 40px;
    width: 100%;
    padding-left: 5px;
    font-family:var(--quicksans);
    border: 2px solid var(--azul);
    border-radius: 8px;
    margin-bottom: 5px;
}

.op-addpost-form select option {
    background: white;
}

.op-addpost-form input:focus{
    font-family:var(--quicksans);
    border: 2px solid var(--azul);
    border-radius: 8px;
    outline: 1px solid var(--azul);
}

.op-addpost-form textarea {
    height: 200px;
    width: 100%;
    padding-left: 5px;
    font-family:var(--quicksans);
    border: 2px solid var(--azul);
    border-radius: 8px;
    margin-bottom: 10px;
    resize: none;
}

.op-addpost-form input[type="reset"],
.op-addpost-form input[type="submit"] {
    width: 40% !important;
}

.op-post d-flex justify-content-between mt-2 mb-2{
    display: grid;
    grid-column-gap: var(--grid-column-gap);
    grid-template-columns: repeat(4,1fr);
    margin-right: 8px;
}

.op-login-card {
    border-radius: 10px;
    border: 2px solid var(--azul);
    height: auto;
    font-family: var(--quicksans);
    width: 100%;
}

.op-login-card img {
    width: 80%;
}
.op-login-card h5 {
    color: var(--azul)
}

.op-login-card label {
    font-family: var(--opensans);
    font-size: 14px;
    color: var(--azul);
}

.op-login-card input[type="text"],
.op-login-card input[type="email"],
.op-login-card input[type="password"] {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid --azul;
    outline: none;
}

.login-bg{  
    background-color: var(--azul);
}

.op-botonera-login{
    width: 100%;
}

.op-botonera-login .limpiar,
.op-botonera-login .op-btn-volver {
    background: white;
    font-family: var(--quicksans);
    color: var(--azul);
    border-radius: 8px;
    border: 2px solid var(--celeste);
}

.op-botonera-login .limpiar:hover 
.op-botonera-login .op-btn-volver:hover {
    background: var(--celeste);
    font-family: var(--quicksans);
    color: white;
    border-radius: 8px;
    border: 2px solid var(--celeste);
}

.op-botonera-login .enviar,
.op-botonera-login .op-btn-login,
.op-btn-login {
    background: var(--celeste);
    font-family: var(--quicksans);
    color: var(--azul);
    border-radius: 8px;
    border: 2px solid var(--celeste);
}

.op-botonera-login .enviar:hover,
.op-botonera-login .op-btn-login:hover {
    background: var(--naranjo);
    font-family: var(--quicksans);
    color: white;
    border-radius: 8px;
    border: 2px solid var(--naranjo);
}

.op-texto-login {
    font-size: 12px;
    width: 100%;
    height: 12px;
    margin-bottom: -1px;
}

.op-link-login{
    text-decoration: none;
    font-size: 16px;
    color: #f8aa4b;
    height: 16px;
}

.helptext{
    display: none;
}

.center-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img-op-perfil {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    object-position: 50% 25%;
}

.nombre-op-perfil {
    width: 100%;
}

.btn-op-perfil {
    font-family: var(--quicksans);
    color: white;
    background: var(--celeste);
}

.btn-op-perfil:hover {
    font-family: var(--quicksans);
    color: white;
    background: var(--azul);
}

.container-op-perfil h2{
    font-family: var(--opensans);
    font-weight: bolder;
    color: var(--azul);
}

.container-op-perfil table {
    font-family: var(--quicksans) ;
    font-weight: lighter;
    font-size: 16px;
}

.container-op-perfil table thead th{
    font-family: var(--quicksans) ;
    font-weight: lighter;
    color: var(--azul);
}

.container-op-perfil table tbody th{
    font-family: var(--quicksans) ;
    font-weight: lighter;
    color: rgb(128, 128, 128);
}

.op-bienvenido h2{
    font-family: var(--quicksans);
    font-weight: bolder;
    color: var(--azul);
}

.op-bienvenido img {
    display: inline-block;
    position: relative;
    height:100%;
    width:100%;
}

.op-bienvenido p {
    font-family: var(--opensans);
    text-align: justify;
}

.op-bienvenido a {
    color: white;
    background: var(--celeste);
    float: right;
}

.storyset{
    color: white;
    text-decoration: none;
    text-align: center;
}

.comentario-post{
    width: 100%;
    height: 80px;
    border-radius: 20px;
    padding: 10px;
    background: white;
    margin-bottom: 10px;
}

.op-comentario-img-detalle{
    width: 60px;
    height: 60px; 
    border-radius: 30px;
    display: block;
    object-fit: cover;
    object-position: 50% 25%;
    margin-bottom: 10px;
}

.op-comentario-nombre{
    text-decoration: none;
    font-family: var(--quicksans);
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    color: var(--naranjo);
    margin-bottom: 5px;
}

.op-comentario-nuevo {
    height: 40px;
    width: 100%;
}

.op-comentario-nuevo form{
    height: 40px;
    width: 100%;
}
.op-comentario-nuevo input[type="text"] {
    height: 40px;
    width: 90%;
    padding-left: 5px;
    font-family:var(--quicksans);
    border: 2px solid var(--azul);
    border-radius: 8px;
    margin-bottom: 5px;
}

.op-comentario-nuevo input[type="submit"]{
    width: 8%;
    height: 40px;
    background: var(--celeste);
    font-family: var(--quicksans);
    color: var(--azul);
}

.op-comentario-nuevo label {
    display: none;
}

.op-comentario-antiguo {
    height: 40px;
    width: 100%;
}

.op-comentario-antiguo input[type="text"] {
    height: 40px;
    width: 100%;
    padding-left: 5px;
    font-family:var(--quicksans);
    border: 2px solid var(--azul);
    border-radius: 8px;
    margin-bottom: 5px;
}

.fa-heart {
    color: var(--rojo);
}

.op-blog-likes {
    color: var(--azul);
    text-decoration: none;
    font-family: var(--quicksans);
}

.mascota-card {
    width: 21%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.icono-mascota-card {
    list-style: none;
    display: inline-block;
}

.fa-card-icono {
    color: var(--azul);
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.fa-venus {
    color: var(--rojo);
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
}
.fa-mars {
    color: var(--celeste);
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
}

.img-card-mascota {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    object-position: 50% 25%;
}

.card-title-mascota {
    width: 100%;

}

.mascota-edit {
    background: var(--amarillo);
    color: var(--azul);
}

.mascota-delete {
    background: var(--rojo);
    color: white;
}

.mensaje-text {
    color: var(--azul);
    font-family: var(--quicksans);
    text-decoration: none;
}

.flecha-atras {
    background: var(--celeste) ;
    color: white;
}

.pagination > li > a
{
    background-color: white;
    color: var(--celeste);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: var(--celeste) !Important;
    border: solid 1px var(--celeste) !Important;
}

.pagination > .active > a:hover
{
    background-color: var(--celeste) !Important;
    border: solid 1px var(--celeste);
}


.op-noticias article .op-post-cont-xl h6 {
    margin-top: 50px !important;
}

.op-noticias {
    height: auto;
}

.op-circle {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 1px solid #b8b8b8;
}

.op-sm-circle {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 1px solid #b8b8b8;
}

.op-icono-circle {
    font-size: 60px;
    text-align: center;
    line-height: 110px;
}

.op-circle-title {
    font-family: var(--quicksans);
    font-size: 20px;
    font-weight: bolder;
    color: var(--azul);
}

.op-circle-p {
    text-align: center;
    font-size: 15px;
}

.fa-chart-simple {
    color: var(--amarillo);
}

.fa-pawsa {
    color: var(--celeste);
}

.fa-bullhorn {
    color: var(--rojo);
}

.dashboard-seccion{
    background: #f3f3f3;
    height: auto;
    border-radius: 20px;
}

.op-dashboard-botones {
    background: #e9e9e9;
    height: 80px;
    border-radius: 20px 20px 0px 0px;
}

.op-dashboard-botones ul {
    list-style: none;
    display: inline-block;
}

.op-dashboard-botones ul li {
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
}

.op-dashboard-botones ul li button{
    text-decoration: none;
    background: white;
    color: var(--azul);
    font-family: var(--quicksans);
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.op-dashboard-botones ul li button:hover{
    color: white;
    background: var(--azul);
}


.op-grafico-texto {
    font-size: 16px;
    font-family: var(--opensans);
    text-align: justify;
}

.op-grafico-titulo {
    font-size: 36px;
    font-family: var(--quicksans);
    color: var(--azul);
    font-weight: bolder;
}

.op-grafico-cuadrado {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.op-grafico-rectangulo {
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

.op-grafico-rectangulo i{
    font-size: 35px;
    text-align: center;
    line-height: 35px;
    color: white;
}

.op-grafico-cuadrado i{
    font-size: 35px;
    text-align: center;
    line-height: 35px;
    color: white;
    margin: auto;
}

.op-grafico-numero {
    color: white;
    font-size: 40px;
    font-family: var(--quicksans);
}

.op-grafico-cuadrado-celeste {
    background: var(--celeste);
}

.op-grafico-cuadrado-amarillo {
    background: var(--amarillo);
}
.op-grafico-cuadrado-naranjo {
    background: var(--naranjo);
}
.op-grafico-cuadrado-rojo {
    background: var(--rojo);
}
.op-grafico-cuadrado-azul {
    background: var(--azul);
}

.destacado {
    font-weight: bolder;
}

.t-celeste{
    color: var(--celeste);
}

.t-amarillo {
    color: var(--amarillo);
}

.border-left-op {
    border-left: 1px solid #afafaf;
}

.texto-recuperar {
    font-size: 14px;
    font-family: var(--opensans);
    color: var(--azul);
}

.cambiar_contrasena ul li {
    font-size: 12px;
}

.img-footer {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .op-post-cont-sm {
        width: 20%;
    }
    
    .op-post-cont-xl {
        width: 80%;
    }

    .op-post-title {
        font-size: 16px;
    }

    .op-post-like {
        display: none;
    }

    .op-blog-likes {
        display: none;
    }
    
    .op-post-text {
        display: none;
    }

    .op-post-img {
        width: 50px;
        height: 50px;
    }

    .img-footer {
        width: 150px;
        padding: 0 auto;
    }

    .op-blog-title {
        font-size: 30px;
    }

    .op-nosotros-title {
        font-size: 30px;
    }
    .op-nosotros-title-ng {
        font-size: 30px;
    }
    .op-cta-img {
        width: 100%;
    }

    .dashboards-li{
        display: none;
    }

    .img-contacto-ocultar{
        display: none;
    }

    .ocultar-text {
        display: none;
    }
  }